accelerate
aiofiles
aiosignal
alembic
altgraph
annotated-types
anyio
asteval
asttokens
async-timeout
attrs
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
cmd2
colorama
colorlog
comm
cryptography
dataclasses-json
datasets
debugpy
decorator
dill
dirtyjson
djitellopy
et_xmlfile
executing
filelock
filetype
frozenlist
ftfy
greenlet
idna
ipykernel
ipython
jedi
jsonpatch
jupyter_client
jupyter_core
llama-index-embeddings-huggingface
llama-index-legacy
llama-index-llms-huggingface
Mako
marker-pdf
marshmallow
matplotlib-inline
minijinja
mkl
multiprocess
nest-asyncio
numpy
opencv-python
openpyxl
optuna
packaging
pandas
parso
pdftext
pefile
pillow
pipenv
platformdirs
prompt-toolkit
psutil
pyarrow
pyarrow-hotfix
pyautogen
pycparser
pyinstaller
pyinstaller-hooks-contrib
pypdfium2
python-dateutil
pytz
pywin32
pywin32-ctypes
pyzmq
rapidfuzz
regex
requests
ruamel.yaml
scikit-learn
six
soupsieve
stack-data
structlog
surya-ocr
tabulate
texify
text-generation
tornado
tqdm
typing-inspect
tzdata
ujson
urllib3
virtualenv
xxhash
